<div id="messages">
  <%= render partial: "messages/message", collection: @messages %>
</div>
<%= form_with url: users_path do %>
  <div class="column">
    <ul>
      <% @room.each do |room| %>
        <li>
          <%= radio_button_tag 'room', room.id %>
          <%= label_tag "room_#{room.id}", room.name%>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="column">
    <%= label_tag 'Name' %>
    <%= text_field_tag "user[name]", nil, placeholder: "Enter your name here..." %>
    <%= submit_tag "Send", class: "ui primary button" %>
  </div>
<% end %>
<%= action_cable_meta_tag %>
